* {
    margin: 0;
    padding: 0;
}

body {
    margin: 77px;
    font-family: 'Playfair Display', serif;
    font-size: 100%;
    font-weight: normal;
}
.header {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.top-navigation {
    width: 60%;
}

.menu-item_link {
    color: #000;
    font-size: 11px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}

.box1 {
    margin-top: 30px;
    margin-left: 320px;
    margin-bottom: 100px;
}

.box2 {
    margin-top: 0px;
    margin-left: 320px;
    margin-bottom: 100px;
}

.box3 {
    margin-top: 0px;
    margin-left: 320px;
    margin-bottom: 100px;
}

.content1 {
    display: inline-block;
    margin: 10px;
    padding: 40px;
    height: 400px;
    width: 30%;
}

.content2 {
    padding: 40px;
    margin-left: 20px;
    display: inline-block;
    height: 400px;
    width: 30%;
}

.section {
    margin: 5px;
    margin-left: 0px;
    padding: 5px;
    padding-left: 0;
}

.title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;   
}

span {
    border: 2px solid;
    font-size: 20px;
    padding: 10px 20px;
}

.footer {
    text-align: center;
    margin: 30px;
}